<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mastermid</title>
    <link rel="stylesheet" href="../style/main.css" />
    <link rel="stylesheet" href="../style/mastemind.css" />
</head>
<body>
    <main>
        <section class="game-table">
            <section class="container board">
                    
            </section>
            <div class="container prompt">
                <div class="card disabled selected error">
                    <div class="code" id="secret-code">
                        <div class="circle circle-code"></div>
                        <div class="circle circle-code"></div>
                        <div class="circle circle-code"></div>
                        <div class="circle circle-code"></div>
                    </div>
                    <div class="btn">
                        Start
                    </div>
                </div>
            </div>
        </section>
        <section class="game-stats">
            <h2>
                Estátisticas do Jogo
            </h2>
            <div class="table">
                <div class="row guess-count">
                    <div class="column label">Tentativas:</div>
                    <div class="column content"><span id="n-guesses">0</span> tentativas</div>    
                </div>
                <div class="row secret-id">
                    <div class="column label">Código Secreto:</div>
                    <div class="column content">----</div>
                </div>
                <div class="row last-guess-id">
                    <div class="column label">Último Chute:</div>
                    <div class="column content">----</div>    
                </div>
                <div class="row feedback-id">
                    <div class="column label">Feedback Fornecido:</div>
                    <div class="column content">
                        <p><span id="correct-positions">-</span> Corretos</p>
                        <p><span id="incorrect-positions">-</span> Incorretos</p>
                    </div>  
                </div>
                <div class="row guess-id">
                    <div class="column label">Novo Chute:</div>
                    <div class="column content">----</div>    
                </div>
                <div class="row status">
                    <div class="column label">Status:</div>
                    <div class="column content">-----</div>
                </div>
            </div>
        </section>
    </main>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script type="module" src="../scripts/global.js"></script>
    <script type="module" src="../scripts/boardHandle.js"></script>
    <script type="module" src="../scripts/prompt.js"></script>
    <script type="module" src="../scripts/feedback.js"></script>
    <script type="module" src="../scripts/statsTable.js"></script>
    <script type="module" src="../scripts/game.js"></script>
</body>
</html>