.game-table {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    justify-self: end;
    padding: 20px;
}

.game-stats {
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 440px;
    background-color: #EAE3E3;
    box-shadow: 4px 2px 4px rgba(0, 0, 0, 0.25);
    border: 1px solid #b8b1b1cc;
    padding: 12px;
}

.container {
    width: 100%;
    max-width: 580px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 18px 12px;
    gap: 1rem;
    border: 1px solid #EAE3E3;
    background: #2c2c2c;
    border-radius: 6px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.container.board{
    height: 730px;
    overflow-y: scroll;
}

.container.board::-webkit-scrollbar {
    width: 0px;
}

.card {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    min-height: 126px;
    max-width: 572px;
}

.board .card {
    border-radius: 10px;
    /* background: #F1EDED; */
    border: 2px solid #00000048;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


.code {
    width: 78%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.feedback {
    width: 22%;
    height: 100%;
    display: grid;
    justify-items: center;
    align-content: space-around;
    border-left: 1px solid #00000079;
    grid-template-columns: 1fr 1fr;
}


.circle {
    min-width: 1rem;
    min-height: 1rem;
    border-radius: 100%;
    border: 1px solid #00000079;
    background: #d8d8d857;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.circle:hover:not(.hidden) {
    cursor: pointer;
}

.circle.circle-code {
    width: 70px;
    height: 70px;
}


.circle.circle-feedback {
    width: 40px;
    height: 40px;
}

.board .card.error {
    border-color: rgba(201, 14, 14, 0.61);
}

.board .card.selected {
    border-color: rgba(22, 90, 14, 0.867);
}

.board .card.disabled {
    border-color: #d8d8d857;
}

.prompt .btn {
    height: 45%;
    width: 20%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    background: #368b3d;
    color: #ffffff;
    font-size: 1.5rem;
    font-weight: bolder;
    border: none;
    border-radius: 5px;
    box-shadow: -1px 6px 0 #d8d8d857;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
}

.prompt .btn:hover {
    transform: translateY(-1px);
}

.prompt .btn:active {
    transform: translateY(1px);
    box-shadow: none;
}

.game-stats .table {
    display: flex;
    flex-direction: column;
}

.game-stats .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 12px 0px;
    border-bottom: 1px solid #b8b1b1cc;
    font-size: 1.1rem;
}

.game-stats .table .content{
    text-align: end;
    font-weight: bold;
}

.game-stats .table .row:last-child{
    max-width: 400px;
    margin-top: 60px;
    border-bottom: none;
}